body{
	height:100%;
	width:100%;
	text-align:left;
	font-family:Trebuchet MS, Helvetica, Sans serif;
	}
#pirates{
	position:absolute;
	top:50%;
	left:50%;
	margin:-20px 0 0 -40px;
	}
#infobox{
	width:218px;
	position:absolute;
	right:13px;
	top:50px;
	background-position:0 21px;
	opacity:0.9;
	z-index:100;
	}
#infobox .header{
	width:218px;
	height:21px;
	background:url(../images/infobox-header.png);
	}
#infobox #infobody{
	width:218px;
	height:21px;
	background:url(../images/infobox-body.png);
	}
#infobox .footer{
	position:absolute;
	bottom:0;
	width:218px;
	height:27px;
	background:url(../images/infobox-footer.png);
	}
/* @group Header */
#navigation{
	width:100%;
	height:31px;
	padding:2px 0 0 0;
	background:url(../images/nav.png);
	}
#navigation a{
	float:left;
	margin:0 0 0 10px;
	padding:2px 11px 2px 13px;
	color:#fff;
	font-size:1.1em;
	text-decoration:none;
	}
#navigation a:hover{
	background:url(../images/selectorbg.png) repeat-y;
	}
.selector{
	position:absolute;
	top:24px;
	width:210px;
	padding:4px 0 0 0;
	z-index:100;
	list-style-type:none;
	background:url(../images/selectorbg.png) no-repeat;
	display:none;
	}
#countrylist{
	left:-8px;
	}
#relationships{
	left:81px;
	}
.selector li{
	float:left;
	clear:left;
	width:210px;
	padding:0;
	margin:0;
	background:url(../images/selectorbg.png) repeat-y;
	}
#navigation .selector li a{
	width:184px;
	padding:5px 0 4px 9px;
	margin:0 0 0 5px;
	background:none;
	color:#bbb;
	}
#navigation .selector li a:hover{
	background-color:#112135;
	}
#navigation .selector li.footer{
	width:210px;
	height:16px;
	background:url(../images/footer.png);
	}
/* @end */
/* @group Map */
#map{
	width:100%;
	}
/* @end */
/* @group Details */
#details{
	height:120px;
	background:url(../images/detail.png);
	border-top:1px solid #555;
	}
#details div{
	float:left;
	margin:0;
	width:33%;
	}
#details ul{
	float:left;
	margin:6px 0 0 0;
	padding:0;
	width:100%;
	height:90px;
	list-style-type:none;
	}
#details ul li{
	clear:left;
	margin:3px 0 0 0;
	width:auto;
	color:#bbb;
	padding-left:26px;
	background:url(../images/bullet.png) 10px 4px no-repeat;
	}
#details ul#type li{
	clear:left;
	margin:7px 0 2px 0;
	width:auto;
	color:#bbb;
	padding-left:10px;
	background:url(../images/bullet.png) 10px 4px no-repeat;
	overflow:auto;
	}
#details ul li a{
	color:#bbb;
	text-decoration:none;
	}
#details ul li a:hover{
	text-decoration:underline;
	color:#ccc;
	}
#current{
	border-right:1px solid #777;
	}
#countries{
	border-right:1px solid #777;
	}
span.key{
	float:left;
	display:block;
	width:12px;
	height:12px;
	border:1px solid #fff;
	}
span.sad{
	background-color:#c8050c;
	}
span.happy{
	background-color:#00b495;
	}
span.sport{
	background-color:#00a235;
	}
span.business{
	background-color:#538aad;
	}
span.pirates{
	background-color:#1a5690;
	}
span.title{
	display:block;
	float:left;
	margin:0 0 0 7px;
	color:#555;
	line-height:14px;
	}
/* @end */
/* @group Typography */
h1{
	float:left;
	margin:9px 0 0 10px;
	font-size:1.2em;
	font-weight:bold;
	color:#ddd;
	}
/* @end */
/* @group Infobox */
#infobox h1{
	float:left;
	margin:0 0 0 14px;
	padding:10px 0 0 0;
	font-weight:normal;
	}
#infobox ol{
	float:left;
	margin:10px 0 0 14px;
	width:186px;
	list-style-type:none;
	color:#111;
	}
#infobox ol li{
	float:left;
	clear:left;
	padding:3px 0 5px 0;
	width:100%;
	overflow:hidden;
	border-top:1px solid #555;
	}
#infobox ol li span{
	float:left;
	clear:left;
	width:100%;
	font-size:1.1em;
	}
#infobox ol li a{
	float:left;
	clear:left;
	width:100%;
	white-space:normal;
	color:#999;
	text-decoration:none;
	}
/* @end */